{% extends 'base.html.twig' %}

{% block title %}{{ username }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href= "{{ asset('css/basic-template.css')}}">
{% endblock %}

{% block nav %}
    <div id = "userNameLink">
        <img src = "#" id = "avatar_min">
        <a href = "/{username}" id = "un">{{ username }}</a>
    </div>
{% endblock %}

{% block body %}

 <div id = "User">
     <div id = "UserWrapper">

         <div id = "cover_photo">
             <img src = "#">
             <button id = "add_cover">Add a cover photo</button>

             <div class = "avatar_photo">
                 <img src = "{{ asset('images/avatar.svg') }}">
             </div>



         </div>

         <div class = "horizon_menu">
             <ul>
                 <li><a href= "#"> Posts</a></li>
                 <li><a href= "#"> Followers</a></li>
                 <li><a href= "#"> Friends</a></li>
                 <li><span class = "newP"> Add new post </span></li>
             </ul>
         </div>
     </div>

     <div id = "UserWall">


         <div class = "formNew">
             <form method="post" action="/{username}" name="newPost" enctype="multipart/form-data">

                 <div class = "holder">
                     <input type="text" id = "title" placeholder="Title of your post...">
                 </div>

                 <div class = "holder">
                     <input type="text" id = "author" placeholder="Author" value = "{{ username }}">
                 </div>

                 <div class = "holder">
                     <input type="file" name="file" id="file">
                 </div>

                 <input type="hidden" id = "date">
                 <input type="hidden" id = "time">

                 <div class = "holder">
                     <textarea cols = "40" rows="10"placeholder="Type your post here..." id = "post-text"></textarea>
                 </div>

                 <input type = "submit" name = "NewPost" id = "NP" value = "Submit">


             </form>
         </div>



         {# articles#}
         <div id = "article">
             <div class="artTitle">
                 <h2>Title of article</h2>
             </div>
             <div class = "autor">
                 <span>Author: John Doe</span>
             </div>
             <div class="datePubl">
                 <span>Date: 01/01/2018</span>
             </div>
             <div class = "timePubl">
                 <span>Time: 23:03:44 </span>
             </div>
             <div class="picArt">
                 <img id = "artPic" src="{{ asset('images/364015_motocikl_krasnyj_motocikly_1920x1200_(www.GetBg.net).jpg') }}" />
             </div>

             <div class="descriptArt">

                        <span>
                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                        </span>


             </div>
             <a href="#" id="artMore">Read More</a>

             <div id = "commentsAndViews">
                 <span id = "comments">5 comments </span>
                 <span id = "views">123 views</span>
             </div>
         </div>




     </div>
 </div>


{% endblock %}

{% block user %}
    <span>Hello, {{ username }}!</span>
{% endblock %}




{% block sidebar %}

    <div class = "rightMenu">
        <table>
            <tr>
                <td><img class = "icons_right" src  = "#"></td>
                <td><a href= "#">Feed</a></td>
                <td><img src  = "#" class = "items_values"></td>
            </tr>
            <tr>
                <td><img class = "icons_right" src  = "#"></td>
                <td><a href= "#">About Me</a></td>
                <td><img src  = "#" class = "items_values"></td>
            </tr>
            <tr>
                <td><img class = "icons_right" src  = "#"></td>
                <td><a href= "#">Friends</a></td>
                <td><img src  = "#" class = "items_values"></td>
            </tr>
            <tr>
                <td><img class = "icons_right" src  = "#"></td>
                <td><a href= "#">Messages</a></td>
                <td><img src  = "#" class = "items_values"></td>
            </tr>
        </table>
    </div>

{% endblock %}



{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>

        $(function (){
            $('.newP').click(function (){
                $(this).toggleClass('active');
                $('.formNew').slideToggle();
            });

        });
    </script>


{% endblock %}